<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="cyan">
<form action="details", method="POST">
	<h1> Heart Fail Prediction </h1>
	Time: <input type="text" name="T1"><br><br>
	Ejection Fraction: <input type="text" name="ef"><br><br>
	Serum Creatinine: <input type="text" name="sc"><br><br>
	Age: <input type="text" name="A1"><br><br>
	Gender: <select name ="G">
		<option>MALE</option>
		<option>FEMALE</option>
	</select><br><br>
    <input type="Submit"><br><br>
    {{Answer}}

	
</form>
</body>
</html>